@page "/projects"
@inherits AuthenticatedPageBase

<AuthorizeView>
    <Authorized>
        <PageTitle>Projects :: Configuration Store</PageTitle>

        <RadzenStack Orientation="Orientation.Vertical">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Icon="add" Text="New Project" Click="@NewProject" />
            </RadzenStack>

            @if (_projects != null)
            {
                <RadzenDataGrid Data="@_projects" AllowFiltering="true" AllowSorting="true">
                    <Columns>
                        <RadzenDataGridColumn Property="Name" Title="Name" Filterable="true" Sortable="true" FilterMode="FilterMode.CheckBoxList" FilterProperty="Name">
                            <Template Context="item">
                                <RadzenLink Text="@item.Name" Path="@item.ProjectUrl"/>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Property="Owner" Title="Owner" Filterable="true" Sortable="true" FilterMode="FilterMode.CheckBoxList" FilterProperty="Owner">
                            <Template Context="item">
                                <RadzenLink Text="@item.Owner" Path="@item.OwnerUrl"/>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            }
        </RadzenStack>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to access this page</p>
    </NotAuthorized>
</AuthorizeView>
